<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.app.Calibrr</key>
		<string>CalibrrDistribution</string>
	</dict>
	<key>signingCertificate</key>
	<string>B0D4BDCC10AF182204DFF98840A4EAB077E01842</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>JPJ9F24F56</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
